* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 40px;
  width: 100%;
}

.logo {
  position: absolute;
  width: 93.35845184326172px;
  height: 23.99991798400879px;
  top: 11px;
  left: 850px;
}

navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #858479;
  gap: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  height: 16px;
  position: absolute;
  right: 100px;
}

.navbar-item:hover {
  color: white;
  font-weight: 600;
}

.hero {
  display: flex;
  width: 1136px;
  height: 480px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 0%), url('../img/Hero.png');
  background-size: cover;
}

.heroCall,
.heroCall div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: white;
  width: 1136px;
  padding-top: 20px;
}

.buttonMoreInfo {
  display: flex;
  background-color: #C5AF19;
  justify-content: center;
  align-items: center;
  color: white;
  width: 368px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.buttonMoreInfo:hover {
  background-color: #E0D100;
  color: black;
}

.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 30px;
  width: 1136px;
}

.section_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px 80px;
}

.exclusiveContainer {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}

.exclusiveContainer:hover {
  opacity: 1;
}

.collumn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1137px;
  height: 856px;
}

.titleLessonContainer {
  color: white;
  margin-top: 20px;
}

.whiteContainer {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  width: 944px;
  height: 805px;
  color: #858479;
  gap: 20px;
}

.blackContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: unset;
  width: 800px;
  height: 805px;
  color: #858479;
  gap: 20px;
  margin-top: 10px;
}

.thumbsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  gap: 10px;
}

.statmentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.statment{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.statmentDiv {
  width: 656px;
}

.roundBG {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #858479;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: black;
  margin-right: 15px;
}

.titleStatment {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}

.titleAndThumbsUp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.checkmarkTitle {
  color: #C5AF19;
}

.checkmarkTitle span {
  color: #858479;
}

.observationDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.observationDiv div {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.innerHr {
  border: 1px solid #D8D7CE;
  width: 80%;
  border: 1px solid #858479;
}

.accentText{
  color: #F2ECC9;
}

.goldText {
  color: #C5AF19;
}

hr {
  border: 1px solid #858479;
  width: 100%;
}

.moreComments {
  background-color: black;
  color: #D8D7CE;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #D8D7CE;
}

.lessonDiv {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 912px;
  height: 122px;
  z-index: 1;
}

.lessonDiv h1 {
  display: flex;
  align-self: baseline;
  justify-content: center;
  font-weight: 400;
  font-size: 36px;
  text-align: right;
  width: 80px;
  height: 112px;
  color: #858479;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.infoDiv h3 {
  width: 816px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.infoDiv p {
  width: 760px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #858479;
}

.divButton {
  display: flex;
  background-image: linear-gradient(to bottom, transparent -50%, white 100%);
  justify-content: center;
  align-items: center;
  width: 955px;
  height: 150px;
  top: 1990px;
  position: absolute;
  z-index: 2;
}

.buttonAll {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  top: 2119px;
  left: 630px;
}

.buttonAll:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.otherCourses_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1136px;
  color: white;
  margin-top: 20px;
}

.inlineBlock {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.courseDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 188px;
  background-size: cover;
  opacity: 0.5;
}

.courseDiv:hover {
  opacity: 1;
}

.courseInfoDiv {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 188px;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  padding: 10px;
  text-transform: uppercase;
}

.courseInfoDiv h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
}

.courseInfoDiv p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #858479;
}

.courseInfoDiv p span {
  color: white;
}

input {
  width: 368px;
  padding: 0;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #D8D7CE;
  color: black;
  padding-left: 10px;
}

input::placeholder {
  color: #858479;
}

select {
  width: 380px;
  padding: 0;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #D8D7CE;
  padding-left: 10px;
  color: #858479;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.containerCheckbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.custom-checkbox {
  opacity: 1;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.containerCheckbox label p {
  margin: 0;
  width: 360px;
  color: #858479;
  font-size: 14px;
}

.containerCheckbox label p span {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}


::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: 1px solid #858479;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}