* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
}

.logo {
  width: 93.358px;
  height: 24px;
  flex-shrink: 0;
}

navbar {
  display: flex;
  flex-shrink: 0;
  color: var(--color-primary-dark-50, #858479);
  text-align: right;
  /* Button 2 */
  font-size: 12px;
  font-family: Lato;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 50px;
}

.toggle {
  display: none;
}

.navbar-item:hover {
  color: white;
  font-weight: 600;
}

.hero {
  display: flex;
  width: 1136px;
  height: 480px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 0%), url('../img/Hero.png');
  background-size: cover;
}

.heroCall {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: white;
  max-width: 1136px;
  padding: 20px;
  margin: 0 auto;
}

.hero-call-mobile {
  display: none;
}

.mobile-title {
  display: none;
}

.hero-call-info {
  display: flex;
  justify-self: flex-start;
  justify-content: space-around;
  width: 100%;
}

.hero-call-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.buttonMoreInfo {
  display: flex;
  background-color: #C5AF19;
  justify-content: center;
  align-items: center;
  color: white;
  width: 368px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.blogButton {
  display: flex;
  width: 368px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: unset;
  color: #F1F1F1;
  cursor: pointer;
  border: 2px solid var(--color-neutral-5-grey-10, #F1F1F1);
}

.buttonMoreInfo:hover {
  background-color: #E0D100;
  color: black;
}

.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 30px;
  width: 1136px;
  animation: fade-in 1s ease-out;
}


.train-to-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 1136px;
  height: 320px;
  background-color: white;
  margin: 20px;
}

.train-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 50px;
}

.train-to-exit h2 {
  display: flex;
  font-size: 28px;
  font-family: Lato;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1A05;
  margin-top: 10px;
}

.train-to-exit p {
  font-size: 16px;
  font-family: Lato;
  line-height: 20px;
  width: 448px;
  margin-top: 10px;
  color: #858479;
}

.train-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  color: #1D1A05;
  font-size: 12px;
  font-family: Lato;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.train-pictures div {
  opacity: 0.5;
}

.train-pictures div:hover {
  opacity: 1.0;
}

.exclusive-title {
  margin: 20px;
}

.exclusive-container {
  display: flex;
  gap: 50px;
}


.exclusive-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.exclusive-info:hover {
  opacity: 1;
}

.collumn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1137px;
  margin-top: 20px;
}

.titleLessonContainer {
  color: white;
  margin-top: 20px;
}

.whiteContainer {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  width: 944px;
  height: 805px;
  color: #858479;
  gap: 20px;
}

.blackContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: unset;
  width: 800px;
  color: #858479;
  gap: 20px;
  margin-top: 10px;
}

.thumbsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  gap: 10px;
}

.statmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.statment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.statmentDiv {
  width: 656px;
}

.roundBG {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #858479;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: black;
  margin-right: 15px;
}

.titleStatment {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}

.titleAndThumbsUp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.checkmarkTitle {
  color: #C5AF19;
}

.checkmarkTitle span {
  color: #858479;
}

.observationDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.observationDiv div {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.innerHr {
  border: 1px solid #D8D7CE;
  width: 80%;
  border: 1px solid #858479;
}

.accentText {
  color: #F2ECC9;
}

.goldText {
  color: #C5AF19;
}

hr {
  border: 1px solid #858479;
  width: 100%;
}

.moreComments {
  background-color: black;
  color: #D8D7CE;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #D8D7CE;
  cursor: pointer;
}

.lessonDiv {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 912px;
  height: 122px;
  z-index: 1;
}

.lessonDiv h1 {
  display: flex;
  align-self: baseline;
  justify-content: center;
  font-weight: 400;
  font-size: 36px;
  text-align: right;
  width: 80px;
  height: 112px;
  color: #858479;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.infoDiv h3 {
  width: 816px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.infoDiv p {
  width: 760px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #858479;
}

.divButton {
  display: flex;
  background-image: linear-gradient(to bottom, transparent -50%, white 100%);
  justify-content: center;
  align-items: center;
  width: 955px;
  height: 150px;
  top: 1990px;
  position: absolute;
  z-index: 2;
}

.buttonAll {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  top: 2119px;
  left: 630px;
}

.buttonAll:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.otherCourses_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1136px;
  color: white;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.inlineBlock {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.courseDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 188px;
  background-size: cover;
  opacity: 0.5;
}

.courseDiv:hover {
  opacity: 1;
}

.courseInfoDiv {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 188px;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  padding: 10px;
  text-transform: uppercase;
}

.courseInfoDiv h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
}

.courseInfoDiv p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #858479;
}

.courseInfoDiv p span {
  color: white;
}

input {
  width: 368px;
  padding: 0;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #D8D7CE;
  color: black;
  padding-left: 10px;
}

input::placeholder {
  color: #858479;
}

select {
  width: 380px;
  padding: 0;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #D8D7CE;
  padding-left: 10px;
  color: #858479;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.containerCheckbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.custom-checkbox {
  opacity: 1;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.containerCheckbox label p {
  margin: 0;
  width: 360px;
  color: #858479;
  font-size: 14px;
}

.containerCheckbox label p span {
  color: white;
}

.related-article {
  color: white;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.related-article-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.related-article-div h3 {
  display: flex;
  width: 368px;
  height: 37px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  font-size: 16px;
  font-family: Lato;
  line-height: 20px;
  text-transform: uppercase;
  color: #D8D7CE;
}

.related-article-div caption {
  display: flex;
  width: 368px;
  height: 12px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
  font-family: Lato;
  line-height: 13px;
  text-transform: uppercase;
  color: #858479;
}

.success-container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 344px;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 50px;
  background: url("../img/bestbg.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.success-container p {
  display: flex;
  width: 685.15px;
  height: 38.639px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-family: Lato;
  text-transform: uppercase;
}

.success-container span {
  display: flex;
  width: 749.05px;
  height: 54.549px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-family: Lato;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 200px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  color: white;
  width: 100%;
}

.terms {
  display: flex;
  gap: 20px;
  color: var(--color-primary-dark-50, #858479);
  text-align: center;
  font-size: 14px;
  font-family: Lato;
  line-height: 16px;
}

.currencys {
  display: flex;
  gap: 20px;
  color: #FFF;
  text-align: center;
  font-size: 8px;
  font-family: Lato;
  font-weight: 700;
  line-height: 16px;
}

.section {
  opacity: 0;
  transition: opacity 1s ease-out;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}


::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: 1px solid #858479;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  *{
    margin: 0;
    padding: 0;
  }
  header{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100vh;
    background-color: black;
  }
  .logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }
  navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    left: 90%;
  }
  .navbar-item {
    display: none;
  }
  .toggle {
    display: flex;
  }
  .hero {
    width: 100%;
    background: url("../img/heromobile.png"), black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heroCall {
    display: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }
  .hero-call-mobile {
    display: block;
  }

  .hero-call-info {
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .mobile-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-call-mobile-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Lato;
    line-height: 20px;
    text-transform: uppercase;
  }
  .mobile-title h1 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-family: Lato;
    line-height: 32px;
    text-transform: uppercase;
  }
  .mobile-title h2 {
    font-size: 20px;
    font-family: Lato;
    line-height: 24px;
    text-transform: uppercase;
    color: #666;
    text-align: center;
  }

  .buttonMoreInfo {
    display: none;
  }

  .hero-mobile-button {
    display: flex;
    width: 288px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: unset;
    color: #F1F1F1;
    cursor: pointer;
    font-size: 12px;
    font-family: Lato;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid var(--color-neutral-5-grey-10, #F1F1F1);
    margin: 10px auto;
  }

  .buttonMoreInfoMobile {
    display: flex;
    background-color: #C5AF19;
    justify-content: center;
    align-items: center;
    color: white;
    width: 368px;
    height: 48px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
  }

  .train-to-exit {
    width: 100%;
    background-color: unset;
    color: white;
  }

  .train-to-exit img {
    display: none;
  }
  .section_container {
    background-color: unset;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .train-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .train-info h2 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Lato;
    line-height: 20px;
    text-transform: uppercase;
  }
  .train-info p {
    display: flex;
    width: 95%;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--color-primary-dark-50, #858479);
    text-align: center;
    font-size: 14px;
    font-family: Lato;
    line-height: 16px;
  }
  .train-pictures {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    margin: 10px auto;
    color: white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .train-pictures div img {
    display: inline-block;
    width: 200px;
    height: auto;
  }
  .exclusive-title {
    display: none;
  }
  .exclusive-container {
    width: 95%;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    gap: 10px
  }
  .exclusive-info img {
    width: 32px;
    height: 32px;
  }
}

